/data
/gitlab-shell
/gitlab-workhorse
/gitlab-rails
/gitlab-pages
/gitlab-runner
/gitaly
/tmp
/www-gitlab-com
/.sync.control*
/.env
/gck.yml
/docker-compose.override.yml
.DS_Store

# old configuration file
/gitlab.yml
