/data
/gitlab-shell
/gitlab-workhorse
/gitlab-rails
/gitlab-pages
/gitlab-runner
/gitaly
/gitlab-metrics-exporter
/tmp
/www-gitlab-com
/.sync.control*
/.env
.DS_Store

# config files
/gck.env
/gck.yml
/docker-compose.override.yml
/docker-compose.aux.override.yml

# old configuration file
/gitlab.yml
